In [1]:
import pandas as pd

In [2]:
from pandas_profiling import ProfileReport

In [5]:
df = pd.read_csv('Data Analyst - Test Data.csv', encoding='utf8')
df

,Review,date,Location,Unnamed: 3
0,I was very impressed with the resort.\n Great ...,2019/08/20,Sebastian,NaN
1,The rooms were nice the outside needs work als...,2019/08/20,Los Angeles,NaN
2,Great location! I have stayed at this hotel on...,2019/08/20,Georgia,NaN
3,The hotel was adequate for my stay. The strips...,2019/08/20,NaN,NaN
4,"Great location, room was large and spacious. P...",2019/08/19,Palm Harbor,NaN
...,...,...,...,...
6443,"·the staff were all so friendly. frank, the ch...",2019/07/12,United States of America,NaN
6444,·the internet barely worked or didn't work,2019/07/12,United States of America,NaN
6445,·the location was great.\n \n \n \n \n ·the be...,2019/07/10,United States of America,NaN
6446,·we were early for check in and the staff was ...,2019/07/10,United States of America,NaN
6447,"·staff, free coffee, location and activities.\...",2019/07/10,United States of America,NaN

In [6]:
design_report = ProfileReport(df)

In [7]:
design_report.to_file(output_file='report2.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]