# GDTC Assignment

#### Task 1

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('insurance_data.csv')
df2 = pd.read_csv('employee_data.csv')
df3 = pd.read_csv('vendor_data.csv')

In [4]:
df = df1.merge(df3, on='VENDOR_ID', how='left').merge(df2, on='AGENT_ID', how='left')

In [5]:
print (df)

            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
0     2020-06-01 00:00:00    TXN00000001   A00003822   PLC00008468
1     2020-06-01 00:00:00    TXN00000002   A00008149   PLC00009594
2     2020-06-01 00:00:00    TXN00000003   A00003172   PLC00007969
3     2020-06-01 00:00:00    TXN00000004   A00007572   PLC00009292
4     2020-06-01 00:00:00    TXN00000005   A00008173   PLC00000204
...                   ...            ...         ...           ...
9995  2021-06-30 00:00:00    TXN00009996   A00006029   PLC00007245
9996  2021-06-30 00:00:00    TXN00009997   A00003555   PLC00002590
9997  2021-06-30 00:00:00    TXN00009998   A00004230   PLC00006613
9998  2021-06-30 00:00:00    TXN00009999   A00006694   PLC00001781
9999  2021-06-30 00:00:00    TXN00010000   A00000390   PLC00005197

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
0       2015-06-23  2020-05-16  2020-05-21         Health          157.13
1       2018-04-21  2020-05-13  2020-05-18       Property          141.71
2       2019-10-03  2020-05-21  2020-05-26       Property          157.24
3       2016-11-29  2020-05-14  2020-05-19         Health          172.87
4       2011-12-26  2020-05-17  2020-05-22         Travel           88.53
...            ...         ...         ...            ...             ...
9995    2014-04-11  2021-06-25  2021-06-26          Motor          105.75
9996    2015-08-25  2021-06-12  2021-06-17           Life           64.59
9997    2018-10-11  2021-06-18  2021-06-23         Health          183.50
9998    2016-01-29  2021-06-16  2021-06-21          Motor          113.46
9999    2014-09-17  2021-06-21  2021-06-24         Mobile            8.22

      CLAIM_AMOUNT  ... POSTAL_CODE_y       AGENT_NAME DATE_OF_JOINING  \
0             9000  ...       32405.0      Amy Wangler      1994-01-06
1            26000  ...       72701.0   Jessica Montez      2004-05-28
2            13000  ...       72703.0     Howard Smith      2004-08-01
3            16000  ...       37215.0  Patricia Tucker      2007-06-12
4             3000  ...       20018.0      Brenda Bean      2010-01-19
...            ...  ...           ...              ...             ...
9995          1000  ...           NaN    Melissa Scott      1990-10-12
9996         67000  ...       94587.0     Freda Dudley      2013-01-17
9997          8000  ...        2492.0    Victor Perrin      1993-02-11
9998          2000  ...       21402.0       Maria Lynn      2010-04-16
9999           300  ...       94555.0      Carl Balado      2007-10-26

                    ADDRESS_LINE1 ADDRESS_LINE2          CITY STATE  \
0             584 Rural Hill Road           NaN     Nashville    TN
1           6114 West Glenn Drive            #1      Glendale    AZ
2     2500 Snowdoun Chambers Road           NaN    Montgomery    AL
3              313 Lone Oak Drive           NaN        Norman    OK
4                120 Wells Avenue           NaN   Glen Burnie    MD
...                           ...           ...           ...   ...
9995    2723 East Joyce Boulevard           NaN  Fayetteville    AR
9996        1363 Dean Forest Road           NaN      Savannah    GA
9997           9912 Shirewick Way           NaN    Louisville    KY
9998      302 East Granada Street           NaN  Fayetteville    AR
9999               1713 Apian Way           NaN        Edmond    OK

     POSTAL_CODE  EMP_ROUTING_NUMBER     EMP_ACCT_NUMBER
0          37217            35441155  LRZO53254369804934
1          85301            44055451  XBYG14382904542874
2          36105            55770246  WRXH14597428306333
3          73071            87652976  YEPN16077902472499
4          21061            76119019  HZBK86544578578547
...          ...                 ...                 ...
9995       72703            35413882  LFOJ76068590051807
9996       31405            91206790  AHEF60771774635030
9997       40272           115241097  WREH18805592939657
9998       72703            13995380  AAZI21883736448048
9999       73003            39790996  RPES05613584687957

[10000 rows x 53 columns]

#### Task 2

In [6]:
df['INSURANCE_TYPE'].value_counts()

Property    1692
Mobile      1692
Health      1690
Life        1682
Travel      1670
Motor       1574
Name: INSURANCE_TYPE, dtype: int64

In [7]:
n = 3
df['INSURANCE_TYPE'].value_counts().index.tolist()[:n]

['Property', 'Mobile', 'Health']

#### Task 3

In [8]:
df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,AGENT_NAME,DATE_OF_JOINING,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,32405.0,Amy Wangler,1994-01-06,584 Rural Hill Road,NaN,Nashville,TN,37217,35441155,LRZO53254369804934
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,72701.0,Jessica Montez,2004-05-28,6114 West Glenn Drive,#1,Glendale,AZ,85301,44055451,XBYG14382904542874
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,72703.0,Howard Smith,2004-08-01,2500 Snowdoun Chambers Road,NaN,Montgomery,AL,36105,55770246,WRXH14597428306333
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,37215.0,Patricia Tucker,2007-06-12,313 Lone Oak Drive,NaN,Norman,OK,73071,87652976,YEPN16077902472499
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,20018.0,Brenda Bean,2010-01-19,120 Wells Avenue,NaN,Glen Burnie,MD,21061,76119019,HZBK86544578578547

In [9]:
n = 5
df2=df.loc[df['RISK_SEGMENTATION'] == 'H', 'STATE'].value_counts().index.tolist()[:n]

In [10]:
print (df2)

['CA', 'DC', 'CO', 'MD', 'AZ']

#### Task 4

In [21]:
def COLOCATION(row):
    if row['STATE_x'] == row['INCIDENT_STATE']:
        return 1
    else:
        return 0

df['COLOCATION'] = df.apply(COLOCATION, axis=1)

In [22]:
print (df)

            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
0     2020-06-01 00:00:00    TXN00000001   A00003822   PLC00008468
1     2020-06-01 00:00:00    TXN00000002   A00008149   PLC00009594
2     2020-06-01 00:00:00    TXN00000003   A00003172   PLC00007969
3     2020-06-01 00:00:00    TXN00000004   A00007572   PLC00009292
4     2020-06-01 00:00:00    TXN00000005   A00008173   PLC00000204
...                   ...            ...         ...           ...
9995  2021-06-30 00:00:00    TXN00009996   A00006029   PLC00007245
9996  2021-06-30 00:00:00    TXN00009997   A00003555   PLC00002590
9997  2021-06-30 00:00:00    TXN00009998   A00004230   PLC00006613
9998  2021-06-30 00:00:00    TXN00009999   A00006694   PLC00001781
9999  2021-06-30 00:00:00    TXN00010000   A00000390   PLC00005197

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
0       2015-06-23  2020-05-16  2020-05-21         Health          157.13
1       2018-04-21  2020-05-13  2020-05-18       Property          141.71
2       2019-10-03  2020-05-21  2020-05-26       Property          157.24
3       2016-11-29  2020-05-14  2020-05-19         Health          172.87
4       2011-12-26  2020-05-17  2020-05-22         Travel           88.53
...            ...         ...         ...            ...             ...
9995    2014-04-11  2021-06-25  2021-06-26          Motor          105.75
9996    2015-08-25  2021-06-12  2021-06-17           Life           64.59
9997    2018-10-11  2021-06-18  2021-06-23         Health          183.50
9998    2016-01-29  2021-06-16  2021-06-21          Motor          113.46
9999    2014-09-17  2021-06-21  2021-06-24         Mobile            8.22

      CLAIM_AMOUNT  ...       AGENT_NAME DATE_OF_JOINING  \
0             9000  ...      Amy Wangler      1994-01-06
1            26000  ...   Jessica Montez      2004-05-28
2            13000  ...     Howard Smith      2004-08-01
3            16000  ...  Patricia Tucker      2007-06-12
4             3000  ...      Brenda Bean      2010-01-19
...            ...  ...              ...             ...
9995          1000  ...    Melissa Scott      1990-10-12
9996         67000  ...     Freda Dudley      2013-01-17
9997          8000  ...    Victor Perrin      1993-02-11
9998          2000  ...       Maria Lynn      2010-04-16
9999           300  ...      Carl Balado      2007-10-26

                    ADDRESS_LINE1 ADDRESS_LINE2          CITY  STATE  \
0             584 Rural Hill Road           NaN     Nashville     TN
1           6114 West Glenn Drive            #1      Glendale     AZ
2     2500 Snowdoun Chambers Road           NaN    Montgomery     AL
3              313 Lone Oak Drive           NaN        Norman     OK
4                120 Wells Avenue           NaN   Glen Burnie     MD
...                           ...           ...           ...    ...
9995    2723 East Joyce Boulevard           NaN  Fayetteville     AR
9996        1363 Dean Forest Road           NaN      Savannah     GA
9997           9912 Shirewick Way           NaN    Louisville     KY
9998      302 East Granada Street           NaN  Fayetteville     AR
9999               1713 Apian Way           NaN        Edmond     OK

     POSTAL_CODE EMP_ROUTING_NUMBER     EMP_ACCT_NUMBER  COLOCATION
0          37217           35441155  LRZO53254369804934           0
1          85301           44055451  XBYG14382904542874           0
2          36105           55770246  WRXH14597428306333           0
3          73071           87652976  YEPN16077902472499           1
4          21061           76119019  HZBK86544578578547           0
...          ...                ...                 ...         ...
9995       72703           35413882  LFOJ76068590051807           1
9996       31405           91206790  AHEF60771774635030           0
9997       40272          115241097  WREH18805592939657           0
9998       72703           13995380  AAZI21883736448048           0
9999       73003           39790996  RPES05613584687957           0

[10000 rows x 54 columns]

In [23]:
print(df[['COLOCATION']])

      COLOCATION
0              0
1              0
2              0
3              1
4              0
...          ...
9995           1
9996           0
9997           0
9998           0
9999           0

[10000 rows x 1 columns]

In [25]:
mean = df["COLOCATION"].mean()
print(mean)

0.0642

#### Task 12

In [30]:
def Suspicious_Agents(row):
    if row['CLAIM_STATUS'] == 'A' and row['RISK_SEGMENTATION'] == 'H' and row['INCIDENT_SEVERITY'] == 'Major Loss':
        return 1
    else:
        return 0

df['Suspicious_Agents'] = df.apply(Suspicious_Agents, axis=1)

In [31]:
print(df)

            TXN_DATE_TIME TRANSACTION_ID CUSTOMER_ID POLICY_NUMBER  \
0     2020-06-01 00:00:00    TXN00000001   A00003822   PLC00008468
1     2020-06-01 00:00:00    TXN00000002   A00008149   PLC00009594
2     2020-06-01 00:00:00    TXN00000003   A00003172   PLC00007969
3     2020-06-01 00:00:00    TXN00000004   A00007572   PLC00009292
4     2020-06-01 00:00:00    TXN00000005   A00008173   PLC00000204
...                   ...            ...         ...           ...
9995  2021-06-30 00:00:00    TXN00009996   A00006029   PLC00007245
9996  2021-06-30 00:00:00    TXN00009997   A00003555   PLC00002590
9997  2021-06-30 00:00:00    TXN00009998   A00004230   PLC00006613
9998  2021-06-30 00:00:00    TXN00009999   A00006694   PLC00001781
9999  2021-06-30 00:00:00    TXN00010000   A00000390   PLC00005197

     POLICY_EFF_DT     LOSS_DT   REPORT_DT INSURANCE_TYPE  PREMIUM_AMOUNT  \
0       2015-06-23  2020-05-16  2020-05-21         Health          157.13
1       2018-04-21  2020-05-13  2020-05-18       Property          141.71
2       2019-10-03  2020-05-21  2020-05-26       Property          157.24
3       2016-11-29  2020-05-14  2020-05-19         Health          172.87
4       2011-12-26  2020-05-17  2020-05-22         Travel           88.53
...            ...         ...         ...            ...             ...
9995    2014-04-11  2021-06-25  2021-06-26          Motor          105.75
9996    2015-08-25  2021-06-12  2021-06-17           Life           64.59
9997    2018-10-11  2021-06-18  2021-06-23         Health          183.50
9998    2016-01-29  2021-06-16  2021-06-21          Motor          113.46
9999    2014-09-17  2021-06-21  2021-06-24         Mobile            8.22

      CLAIM_AMOUNT  ... DATE_OF_JOINING                ADDRESS_LINE1  \
0             9000  ...      1994-01-06          584 Rural Hill Road
1            26000  ...      2004-05-28        6114 West Glenn Drive
2            13000  ...      2004-08-01  2500 Snowdoun Chambers Road
3            16000  ...      2007-06-12           313 Lone Oak Drive
4             3000  ...      2010-01-19             120 Wells Avenue
...            ...  ...             ...                          ...
9995          1000  ...      1990-10-12    2723 East Joyce Boulevard
9996         67000  ...      2013-01-17        1363 Dean Forest Road
9997          8000  ...      1993-02-11           9912 Shirewick Way
9998          2000  ...      2010-04-16      302 East Granada Street
9999           300  ...      2007-10-26               1713 Apian Way

     ADDRESS_LINE2          CITY STATE  POSTAL_CODE EMP_ROUTING_NUMBER  \
0              NaN     Nashville    TN        37217           35441155
1               #1      Glendale    AZ        85301           44055451
2              NaN    Montgomery    AL        36105           55770246
3              NaN        Norman    OK        73071           87652976
4              NaN   Glen Burnie    MD        21061           76119019
...            ...           ...   ...          ...                ...
9995           NaN  Fayetteville    AR        72703           35413882
9996           NaN      Savannah    GA        31405           91206790
9997           NaN    Louisville    KY        40272          115241097
9998           NaN  Fayetteville    AR        72703           13995380
9999           NaN        Edmond    OK        73003           39790996

         EMP_ACCT_NUMBER  COLOCATION  Suspicious_Agents
0     LRZO53254369804934           0                  0
1     XBYG14382904542874           0                  0
2     WRXH14597428306333           0                  0
3     YEPN16077902472499           1                  0
4     HZBK86544578578547           0                  0
...                  ...         ...                ...
9995  LFOJ76068590051807           1                  0
9996  AHEF60771774635030           0                  0
9997  WREH18805592939657           0                  0
9998  AAZI21883736448048           0                  0
9999  RPES05613584687957           0                  0

[10000 rows x 55 columns]